
#cursor{
    /* display: inline-block; */
    display: flex;
    justify-content: start;
    position: absolute;
    top: 0%;
    left:0%;
    height: 150px;
    
    border-radius: 1%;
    opacity: 1;
    transition:all .3s;
    margin: -20;
    margin-top: -0px;
}


#pointer{
    /* display: inline-block; */
    width: 50px;
    width: 50px;
    
    display: flex;
    justify-content: start;
    position: absolute;
    top: 50%;
    /* left: 50%; */
    transform: translate(-50%, 1%);
    border-radius: 50%;
    opacity: 1;
    transition:all .5s;
    
}